sphinx
myst-parser
typing-extensions
rst-to-myst[sphinx]
sphinx-autobuild
furo
sphinxext-opengraph
sphinx-copybutton
sphinx-design
# git+https://github.com/choldgraf/sphinx-social-previews

