body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
}

.card {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.day-button {
    height: 60px; /* Increase the height of the buttons */
    background-color: lightgray;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em; /* Increase the font size */
}

.day-button.completed {
    background-color: #28a745;
    color: white;
}

.day-button.completed:last-child {
    background-color: #007bff;
}
